# overlays/custom-url/kustomization.yaml

# 베이스 파일 지정
resources:
- ../../base

# 패치 적용
patches:
# Master 스펙의 args 필드를 덮어씁니다.
- patch: |-
    - op: replace
      path: /spec/pytorchReplicaSpecs/Master/template/spec/containers/0/args/0
      value: |
        git clone https://github.com/gnosia93/training-on-eks /workspace/code
        cd /workspace/code/samples/FSDP
        sh download_dataset.sh
        pip install -r requirements.txt
        torchrun --nnodes 4 --nproc_per_node 1 T5_training.py
  target:
    kind: PyTorchJob
    name: pytorch-dist-job

# Worker 스펙의 args 필드를 덮어씁니다.
- patch: |-
    - op: replace
      path: /spec/pytorchReplicaSpecs/Worker/template/spec/containers/0/args/0
      value: |
        git clone https://github.com/gnosia93/training-on-eks /workspace/code
        cd /workspace/code/samples/FSDP
        sh download_dataset.sh
        pip install -r requirements.txt
        torchrun --nnodes 4 --nproc_per_node 1 T5_training.py
  target:
    kind: PyTorchJob
    name: pytorch-dist-job

# Worker의 replicas 수를 3으로 변경 (추가된 부분)
- patch: |-
    - op: replace
      path: /spec/pytorchReplicaSpecs/Worker/replicas
      value: 3
  target:
    kind: PyTorchJob
    name: pytorch-dist-job
