# overlays/custom-url/kustomization.yaml

# 베이스 파일 지정
resources:
- ../../base

# 패치 적용
patches:
# Master 스펙의 args 필드를 덮어씁니다.
- patch: |-
    - op: replace
      path: /spec/pytorchReplicaSpecs/Master/template/spec/containers/0/args/0
      value: |
        git clone https://github.com/gnosia93/training-on-eks /workspace/code
        cd /workspace/code/samples
        torchrun --nproc_per_node=1 mnist-ddp.py
  target:
    kind: PyTorchJob
    name: pytorch-dist-job

# Worker 스펙의 args 필드를 덮어씁니다.
- patch: |-
    - op: replace
      path: /spec/pytorchReplicaSpecs/Worker/template/spec/containers/0/args/0
      value: |
        git clone https://github.com/gnosia93/training-on-eks /workspace/code
        cd /workspace/code/samples
        torchrun --nproc_per_node=1 mnist-ddp.py
  target:
    kind: PyTorchJob
    name: pytorch-dist-job
