# overlays/custom-url/kustomization.yaml

# 베이스 파일 지정
resources:
- ../../base

# 패치 적용
patches:
# Master 스펙의 args 필드를 덮어씁니다.
- patch: |-
    - op: replace
      path: /spec/pytorchReplicaSpecs/Master/template/spec/containers/0/args/0
      value: |
        sudo dnf install wget -y
        git clone https://github.com/gnosia93/training-on-eks /workspace/code
        cd /workspace/code/samples/FSDP
        sh download_dataset.sh
        pip install -r requirements.txt
        torchrun --nnodes 4 --nproc_per_node 1 T5_training.py
  target:
    kind: PyTorchJob
    name: pytorch-dist-job

# Worker 스펙의 args 필드를 덮어씁니다.
- patch: |-
    - op: replace
      path: /spec/pytorchReplicaSpecs/Worker/template/spec/containers/0/args/0
      value: |
        sudo dnf install wget -y
        git clone https://github.com/gnosia93/training-on-eks /workspace/code
        cd /workspace/code/samples/FSDP
        sh download_dataset.sh
        pip install -r requirements.txt
        torchrun --nnodes 4 --nproc_per_node 1 T5_training.py
    - op: replace
      path: /spec/pytorchReplicaSpecs/Worker/replicas
      value: 3        
  target:
    kind: PyTorchJob
    name: pytorch-dist-job

# podAffinity와 nodeSelector를 이용하여 p4d.24xlarge 멀티 GPU 인스턴스에서 실행
- patch: |-
    - op: add
      path: /spec/pytorchReplicaSpecs/Master/template/spec/affinity
      value:
        podAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: training.kubeflow.org/job-name
                operator: In
                values:
                - pytorch-dist-job
            topologyKey: "kubernetes.io/hostname"
    - op: add
      path: /spec/pytorchReplicaSpecs/Worker/template/spec/affinity
      value:
        podAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: training.kubeflow.org/job-name
                operator: In
                values:
                - pytorch-dist-job
            topologyKey: "kubernetes.io/hostname"
    - op: add
      path: /spec/pytorchReplicaSpecs/Master/template/spec/nodeSelector
      value:
        node.kubernetes.io/instance-type: p4d.24xlarge # 혹은 g5.48xlarge (8장 서버)
    - op: add
      path: /spec/pytorchReplicaSpecs/Worker/template/spec/nodeSelector
      value:
        node.kubernetes.io/instance-type: p4d.24xlarge            
  target:
    kind: PyTorchJob
    name: pytorch-dist-job

